@charset "UTF-8";
@import url(vars.css);

.fade-right {
    transition: .25s;
    translate: -50px;
    opacity: 0%;
}

.scale {
    transition: .125s;
    scale: 0;
}

.fade-right.element-shown {
    translate: 0;
    opacity: 100%;
}

.scale.element-shown {
    scale: 1;
}

.delay-250ms {
    transition-delay: .25s !important;
}

.delay-500ms {
    transition-delay: .5s !important;
}