@charset "UTF-8";
@import url(vars.css);

.desktop-only {
    display: none !important;
}

.mobile-only {
    display: inline !important;
}

.box {
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
}

.aside-out {
    transform: translateY(-300%);
}  

section {
    flex-direction: column !important;
}

/* navbar */
.wrapper-main {
    flex-direction: column;
}

aside {
    transition: .25s;
    position: sticky;
    z-index: 10;
    flex-direction: row;
    justify-content: center;
    width: calc(100% - 30px);
    opacity: 95%;
    background-color: var(--dark-400);
    border: 2px var(--font-300) solid;
}

aside > .navbar .brand {
    display: none;
}

aside > .navbar, aside > .navbar ul,
aside > .navbar .brand {
    flex-direction: row !important;
    width: 100%;
    justify-content: space-evenly;
}

aside > .navbar ul {
    align-items: stretch;
}

aside > .navbar ul .nav-link {
    margin: 0 .25rem;
    font-size: small !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header */
header {
    flex-direction: column;
    width: calc(100vw - 30px);
}

header img {
    height: 256px;
    width: 100%;
    margin-bottom: 1rem;
}

.caption .big-text {
    font-size: x-large;
}

.caption .normal-text {
    font-size: medium;
}

header .button {
    display: none;
}

/* game */
.game h1 {
    display: none;
}

.game {
    width: calc(100vw - 30px);
}

.game .text-block {
    flex-direction: column;
    border-radius: 10px;
}

.game .text-block img {
    width: 100%;
    height: 128px;
    border-radius: 7px;
    margin-left: 0 !important;
}

.game .text-block .caption {
    margin-left: .5rem !important;
}

/* download */
.download {
    width: calc(100vw - 30px);
}

.download h1 {
    font-size: x-large;
}

.download svg {
    width: 2rem;
    height: 2rem;
}

.download .button {
    padding: 1rem;
    height: 3rem;
}

/* dev */
.dev > div {
    flex-direction: column !important;
}

.dev > div .text-block {
    width: 100%;    
}

.game .text-block img {
    width: 100%;
    height: 192px;
    aspect-ratio: unset;
}