@charset "UTF-8";
@import url(vars.css);

/* navbar */
aside, .navbar, .navbar ul {
    display: flex;
    flex-direction: column;
}

.mobile-only {
    display: none !important;
}

.brand-separator {
    height: 0;
    width: calc(100% - 2rem);
    border-top: var(--font-300) 2px solid;
    border-radius: 50%;
    margin: 1rem;
}

.navbar ul {
    align-items: center;
    list-style: none;
    margin-left: -2.5rem;
}

.navbar ul .nav-link {
    transition: .125s;
    border-radius: 15px;
    padding: .5rem 1rem;
    margin: .25rem 0;
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: var(--font-200);
    background-color: var(--dark-200);
}

.navbar ul .nav-link:hover {
    color: var(--font-200);
    background-color: var(--dark-300);
}

.navbar ul .nav-link.active {
    color: var(--font-100);
    background-color: var(--dark-300);
}

.navbar ul .nav-link:active {
    color: var(--font-100);
    background-color: var(--dark-300);
    scale: 0.95;
}

/* header */
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
}

header .button {
    display: inline;
    margin: 0;
}

header .button:active {
    scale: 0.9 !important;
}

header > img {
    object-fit: cover;
    border-radius: 15px;
    aspect-ratio: 1/1;
    width: 324px;
}

header > .caption {
    margin-left: 1.5rem;
}

header > .caption .normal-text {
    line-height: 1.5;
    font-size: 1.25rem;
    color: var(--font-400);
    margin-bottom: 2.5rem;
}

header > .caption > .big-text {
    font-weight: bold;
    font-size: 3rem;
}

/* game */
.text-block {
    display: flex;
    border-radius: 25px;
    background-color: var(--dark-200);
    padding: 10px;
    margin: .5rem 0;
}

.text-block > img {
    border-radius: 18px;
    object-fit: cover;
}

.text-block:nth-child(even) {
    flex-direction: row;
}

.text-block:nth-child(even) .caption {
    margin-right: 2.5rem;
    margin-left: 1rem;
}

.text-block:nth-child(even) img {
    margin-right: 1rem;
}

.text-block:nth-child(odd) {
    flex-direction: row-reverse;
}

.text-block:nth-child(odd) .caption {
    margin-right: 1rem;
    margin-left: 2.5rem;
}

.text-block:nth-child(odd) img {
    margin-left: 1.5rem;
}

/* download */
.download h1 {
    font-size: 3rem;
}

.download > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    transition: .125s;
    border-radius: 15px;
    background-color: var(--dark-200);
    color: var(--font-100);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin: .5rem 1rem;
}

.button:hover {
    background-color: var(--dark-300);
}

.download .button:active {
    scale: 0.9;
}

/* dev */
.dev > div {
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
}

.dev .text-block {
    flex-direction: column !important;
    align-items: center;
    width: 23%;
}

.dev .text-block .big-text {
    font-weight: bold;
    font-size: 1.5rem;
}

.dev .text-block img {
    margin: .5rem 0;
    object-fit: cover;
    height: 256px;
    width: 100%;
}